@charset "UTF-8";

/* 고정 footer */
#footer .footer {
    width:100%;
    margin-top : 70px;
    }
    
  #footer {
  background: #fff;
  width: 100%;
  height: 170px;
  position: relative;
}

.footerBox {
   text-align: center;
}