<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://ifh.cc/g/VZXG5A.png" rel="icon">
<!-- css,js -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&family=Roboto:wght@700&display=swap" rel="stylesheet">
	
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/acc/header.css">
<link rel="stylesheet" href="/css/acc/footer.css">
<link rel="stylesheet" href="/css/acc/acc.css">
	<link rel="stylesheet" href="/css/board/read.css">

	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&family=Roboto:wght@700&display=swap" rel="stylesheet">
    
    <script th:inline="javascript">
	   // 비로그인이면 anonymousUser
	   const loginInfo = /*[[${#authentication.principal}]]*/
	
	   let username = null;

	</script>
    
    <script>


	function getBno() {
  		const params = new URLSearchParams(location.search);
  		const bno = params.get("bno")
  		
		if(isNaN(bno)) {
			alert("게시물을 찾을 수 없습니다");
			location.href = "/";
		}
		return bno;
	}
	
	function printBoard(board) {
		console.log(board)
		
		$("#bno").text(board.bno);
		$("#WriteTime").text(board.bWriteTime);
		$("#writer").text(board.username);
		$("#title").val(board.btitle);
		$("#Content").html(board.bcontent);
		$("#read_cnt").text(board.readCnt);
		$("#good_cnt").text(board.goodCnt);
		$("#bad_cnt").text(board.badCnt);
		
	
	}
	
	function printComments(comments) {
		$("#comments").empty();
		const template = $('#comment').clone().html();
		
		$.each(comments, function(idx, comment) {
			const html = template.replace("{writer}",comment.username).replace("{cContent}", comment.ccontent)
				.replace("{writeTime}", comment.cWriteTime).replace("{cno}", comment.cno);
			const $result = $(html);
			
			if(comment.username!==username)
				$result.find('.delete_comment').css('display','none');
			$('#comments').append($result);
		});
	}
	
	
	$(document).ready(async function() {
		let boardNo = 0; 
		
		// 로그인한 사용자 아이디를 저장. 비로그인이면 null
		if(loginInfo!=="anonymousUser") {
			username = loginInfo.username;
		}
		   console.log(username)
		   	
		const bno = getBno();
		const api = '/member/board/read?bno=' + bno;
		const user = username;
	
		try {
	  		const response = await $.ajax({
					url : "/member/board/read/rest",
					data : {bno : bno, 
							username:user},
					success : function(data){
						console.log(data)
					}
				});
	  		printBoard(response.result);
	  		
	  		if(response.result.comments!==null) 
	  			printComments(response.result.comments);
	  		boardNo = response.bno;
	  		$('section').css('visibility','visible');
	  		
		} catch(err) {
			
			console.log(err);
		}
		
		
		// 댓글 작성
		$("#write").on("click", function() {
			const boardNo = getBno();
			
			const param = {
				bno: boardNo,
				cContent : $("#comment_textarea").val()
			};
			
			$.ajax({
				url: '/member/comments/new', 
				method:"post", 
				data:param,
				success : function(){
					alert("댓글이 등록 되었습니다")
					location.href=location.href
				}
					
			});
				
		});
		
		// 댓글 삭제 
		$("#comments").on("click", ".delete_comment", function() {
			const boardNo = getBno();
			
			const param = {
					cno : $(this).attr("data-cno"), 
					bno : boardNo
				};
			console.log(param)
			
			$.ajax({url: "/member/comments/delete",
				    method:"delete", 
				    data:param,
				    success : function(){
						alert("댓글이 삭제 되었습니다")
						location.href=location.href
					}
			});
		});
	
	// 글삭제
	$('#delete').on("click",function(){
		const boardNo = getBno();
		
		$.ajax({
			url:"/member/board/delete",
			method: "delete",
			data : {bno:boardNo},
			success : function(){
				alert("글이 삭제되었습니다")
				location.href = "/member/board/list"
			}
		})
	})

	
// 글수정 페이지 넘어가기
	$(document).on('click', '#update', function(){
		const boardNo = getBno();
		console.log(boardNo)
		
		let url = "/member/board/update?bno=" + bno;

		location.href = url;

	});
	
	
	})

 </script> 
 
<title>board_read</title>
</head>
<body>
<!-- nav 고정 -->
<nav id="nav" th:replace="/fragments/memNav"></nav>
<!-- nav 고정 -->
<nav id="pheader" th:replace="/member/accFragments/header"></nav>


	<div id="page">
	
		<div id="username" sec:authentication="name" style="display:none;"></div>
		
		<div id="main">
		
			<section id="section">
			
				<div id="title_div">
					<!-- 제목, 작성자 출력 영역 -->
					<div id="upper">
						<input type="text" id="title" disabled="disabled" >
						<span id="writer"></span>
					</div>
					
					<!-- 글번호, 작성일, 아이피, 추천수, 조회수, 신고수 출력 영역 -->
					<div id="lower">
						<ul id="lower_left">
							<li>글번호<span id="bno"></span></li>
							<li><span id="WriteTime"></span></li>
						</ul>
						<ul id="lower_right">
							<li><button type="button" class="btn btn-success" disabled="disabled">조회 <span class="badge" id="read_cnt"></span></button></li>    
	  						<li><button type="button" class="btn btn-dark" id="list_btn" onClick="location.href='/member/board/list'" >목록으로<span class="badge" id="list_cnt"></span></button></li>        
						</ul>
					</div>
				</div>
				
				<!-- 글내용 -->
				<div id="Content_div">
					<div class="form-group">
						<div class="form-control" id="Content"></div>
					</div>
				</div>
				
				<!-- 작성자일 경우 글수정,삭제 -->
				<div id="btnArea" style="display:none;">
					<button id="update" class="btn btn-info" >수  정</button>
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<button id="delete" class="btn btn-info">삭 제</button>
				</div>
				<hr>
				
				<!-- 댓글작성 -->
				<div class="form-group">
	      			<label for="comment_teaxarea">댓글을 입력하세요</label>
	      			<textarea class="form-control" rows="5" id="comment_textarea" ></textarea>
	    		</div>
				
	    			<button id="write" class="btn btn-info">댓글 추가</button>
				
				<hr>
				
				<div id="comments">
					<div>
						<div><span style="color:blue;"></span> </div>
						<div style="overflow:hidden;">
							<img style="width:60px;">
							<span></span>
						</div>
					</div>
					<hr>
				</div>
				
			</section>
		</div>
		

	<!-- 댓글출력 -->
		<template id="comment">
			<div>
				<div>
					<span>{cno} 번</span>&nbsp; &nbsp; &nbsp;<span>Time {writeTime}</span><br><br>
					<span style="color:blue;">{writer}</span><br>
					
				</div>
				<div style="overflow:hidden">
					<img style="width:60px">
					<span>{cContent}</span>
					
					<button class='delete_comment' style='float:right;' data-cno={cno}>삭제</button>
				</div>
			</div>
			<hr><hr>
		</template>
	</div>

<!-- footer 고정 -->
            <footer id="footer">
            <div class="footerBox">Tani</div>
        </footer>

</body>
</html>