<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<title>CAMPASS</title>
	<!-- favicons -->
<link href="https://i.postimg.cc/mZwb1Gbc/Mask-group-11.png" rel="icon">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



	<script th:inline="javascript">
		$(document).ready(async function () {

			$("#changePassword").click(async function () {
				const paramChange = {
					spassword: $('#spassword').val(),
					newpassword: $('#newpassword').val()
				}

				const change = await $.ajax({
					url: "http://www.campass.shop:8087/seller/new/password",
					data: paramChange,
					method: "patch",
				}).fail(()=>"임시비밀번호를 발송하지 못했습니다.")
				alert(change.result);
			}).done(() => location.href = '/seller/login')

		});


	</script>

	</script>

</head>

<body>



	<div>비밀번호 변경</div>
	<div>
		임시 비밀번호: <input id="spassword" type="password" name="password">
	</div>
	<div>
		새 비밀번호 : <input id="newpassword" type="password" name="newpassword">
	</div>
	<div>
		새 비밀번호 확인 : <input id="newpassword2" type="password">
	</div>

	<div id="menu">
		<button id="changePassword">비밀번호 변경</button>
	</div>






</body>

</html>