<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<title>CAMPASS</title>
	
	<!-- favicons -->
<link href="https://ifh.cc/g/NdOrVp.png" rel="icon">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



	<script th:inline="javascript">
		$(document).ready(async function () {

			$("#changePassword").click(async function () {
				const paramChange = {
					bpassword: $('#bpassword').val(),
					newpassword: $('#newpassword').val()
				}

				const change = await $.ajax({
					url: "http://www.campass.shop:8087/buyer/new/password",
					data: paramChange,
					method: "patch",
				}).done(() => location.href = '/buyer/login').fail(()=>"임시비밀번호를 발송하지 못했습니다.");
				alert(change.result);
			})

		});


	</script>

	</script>

</head>

<body>



	<div>비밀번호 변경</div>
	<div>
		임시 비밀번호: <input id="bpassword" type="password" name="password">
	</div>
	<div>
		새 비밀번호 : <input id="newpassword" type="password" name="newpassword">
	</div>
	<div>
		새 비밀번호 확인 : <input id="newpassword2" type="password">
	</div>

	<div id="menu">
		<button id="changePassword">비밀번호 변경</button>
	</div>






</body>

</html>