<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tani.demo.dao.BoardDao">

	<!-- 글 저장 -->
	<insert id="boardSave">
		<selectKey keyProperty="bno" resultType="int" order="BEFORE">
			select nvl(max(bno), 0)+1 from Board
		</selectKey>
		insert into Board(bno, bTitle,bPhoto, bContent, username, bCateCode, bWriteTime,readCnt,commentCnt,goodCnt,badCnt) 
		values (#{bno}, #{bTitle}, #{bPhoto}, #{bContent}, #{username},#{bCateCode},sysdate,0,0,0,0)
	</insert>
	
  	<!-- 개수 -->
    <select id="count" resultType="int">
		select  count(*) from board
		<where>
			<if test="username!=null">username=#{username}</if> 
		</where>
	</select>
	
	
	 <!-- 페이징 -->
    <select id="findAll" resultType="com.tani.demo.dto.BoardDto$boardList">
	   select * from     
	     (
	        select rownum as rnum, b.* from 
	           (select /*+ index_desc(board board_pk_bno) */ b.bno, b.bTitle, b.bWriteTime,b.bPhoto, b.readCnt, b.commentCnt, b.username, c.bCateName
	            from board b left outer join bCategori c on b.bCateCode = c.bCateCode

	            order by bno desc) b
	        where rownum &lt;=#{end}
	     )
	     where rnum&gt;=#{start}
 	 </select>
  	
  	<!-- 읽기 -->
  <select id="read" resultType="com.tani.demo.dto.BoardDto$read">
	  	<![CDATA[
	  	select * from board where bno=#{bno} and rownum<=1
	  	]]>
  </select>
  
    <!-- 업데이트 : 제목, 내용, 조회수, 좋아요, 싫어요, 댓글수 중 사용자가 선택한 컬럼을 변경 -->
  <update id="update">
  	update board 
  	  <trim prefix="set" suffixOverrides=",">
	   	<if test="bTitle != null">bTitle=#{bTitle},</if>
	  	<if test="bContent != null">bContent=#{bContent},</if>
	  	<if test="readCnt != null">readCnt=readCnt+1,</if>
	  	<if test="goodCnt != null">goodCnt=goodCnt+1,</if>
	  	<if test="badCnt != null">badCnt=badCnt+1,</if>
	  	<if test="commentCnt != null">commentCnt=#{commentCnt},</if>
	  </trim>
  	where bno=#{bno}
  </update>
  
  <!-- 글쓴이 확인 -->
  <select id="findWriterById" resultType="int">
  		select username from board where bno = #{bno)
  </select>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete from board where bno =#{bno}
	</delete>
	
	<!-- 좋아요개수 -->
  <select id="findGoodCntById" resultType="int">
  	select goodCnt from board where bno=#{bno}
  </select>
  
  	<!-- 싫어요개수 -->
  <select id="findBadCntById" resultType="int">
  	select badCnt from board where bno=#{bno} 
  </select>

</mapper>